<html>
<head>
  <title>Airport API</title>
</head>
<body>
  <form class="form-inline" action="/airport">
    <div class="form-group">
      <label for="airportCodeInput">Airport Code</label>
      <input type="text" class="form-control" id="airportCodeInput" placeholder="Airport Code" name="airport_code">
    </div>
    <br />
    <br />
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br >
  <form class="form-inline" action="/airport">
    <div class="form-group">
    <label for="cityInput">City</label>
    <select class="form-control" id="city_select" name="airport_city">
      <% @airports.each do |a| %>
      <option><%= a.city %></option>
      <% end %>
    </div>
    </select>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
</html>