<!DOCTYPE html>
<html>
<head>
	<title>Airport API</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
  <div class="container">
    <div class="starter-template">
	<header><h2>Airport / Weather / Status</h2>
	</header>
		<div>
			<%= yield %>
		</div>
    </div>
  </div>
</body>
</html>	
